@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.panel-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.panel-info {
    border-color: #455A64;
    font-family: sans-serif;
}

.panel-info > .panel-heading {
    background-image: none;
    background-color: #78909C !important;
    border: none;
    color: #ffffff;
}

.panel-info > .panel-body {
    background-color: #F5F5F5;
}

.panel-info > .panel-footer {
    background-image: none;
    background-color: #78909C !important;
    border: none;
    color: #ffffff;
}

.helpdesk-login-input {
    margin-bottom: 25px
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #455A64;
    text-align: center;
}

.helpdesk-login-button:hover {
    background-image: none;
    background-color: #039BE5;
}